-
    var communicatemembers = ["程　铮","中国工程物理研究院计算机应用研究所","chengz@caep.cn",
    "崔江涛","西安电子科技大学计算机学院","cuijt@xidian.edu.cn",
    "丁晓锋","华中科技大学计算机学院","xfding@hust.edu.cn",
    "洪　亮","武汉大学信息管理学院","hong@whu.edu.cn",
    "胡　伟","南京大学","whu@nju.edu.cn",
    "赖韩江","中山大学数据科学与计算机学院","laihanj3@mail.sysu.edu.cn",
    "李　辉","西安电子科技大学","hli@xidian.edu.cn",
    "李剑军","华中科技大学计算机学院","jianjunli@hust.edu.cn",
    "李直旭","苏州大学计算机科学与技术学院","Zhixuli@suda.edu.cn",
    "梁文新","大连理工大学","wxliang@dlut.edu.cn",
    "林　欣","华东师范大学","xlin@cs.ecnu.edu.cn",
    "刘冠峰","苏州大学计算机科学与技术学院","gfliu@suda.edu.cn",
    "卢　卫","中国人民大学信息学院","uqwlu@ruc.edu.cn",
    "潘　晓","石家庄铁道大学","smallpx@163.com",
    "彭敦陆","上海理工大学","dunlu_peng@163.com",
    "饶洋辉","中山大学数据科学与计算机学院","raoyangh@mail.sysu.edu.cn",
    "沈　玮","南开大学","shenwei@nankai.edu.cn",
    "石　川","北京邮电大学","shichuan@bupt.edu.cn",
    "宋　威","北方工业大学计算机学院","songwei@ncut.edu.cn",
    "宋国杰","北京大学","gjsong@pku.edu.cn",
    "王　浩","中国科学院软件研究所 ","cashenry@126.com",
    "王　梅","东华大学","wangmei@dhu.edu.cn",
    "王　悦","中央财经大学信息学院计算机系","wangyuecs@cufe.edu.cn",
    "魏哲巍","中国人民大学信息学院","zhewei@ruc.edu.cn",
    "吴英杰","福州大学数学与计算机科学学院","yjwu@fzu.edu.cn",
    "向　军","湖北民族学院信息工程学院","xiangjes@163.com",
    "许建秋","南京航空航天大学","jianqiu@nuaa.edu.cn",
    "姚俊杰","华东师范大学","junjiey@gmail.com",
    "游进国","昆明理工大学","jgyou@126.com",
    "袁培森","南京农业大学","peiseny@njau.edu.cn",
    "张　巨","解放军战支61785部队","zhangju@software.ict.ac.cn",
    "张春英","华北理工大学","Hblg_zcy@126.com",
    "张小旺","天津大学","xiaowangzhang@tju.edu.cn",
    "张新宇","中国人寿保险股份有限公司研发中心","13801396191@139.com",
    "张彦春","复旦大学","yanchun.zhang@vu.edu.au",
    "赵　雷","苏州大学计算机科学与技术学院","zhaol@suda.edu.cn",
    "周　勇","中国矿业大学计算机学院","yzhou@cumt.edu.cn"
    ]