-
    var honormembers = ["何守才", "上海第二工业大学计算机与信息学院", "hesc111@163.com",
    "黄上腾", "上海交通大学计算机科学与工程系", "royhuang@guomai.sh.cn",
    "李德毅", "总参通信部", "kxwei9402@sina.com/leedeyi@nlsde.buaa.edu.cn",
    "李昭原", "北京航空航天大学", "Lizy2026@sina.com",
    "罗晓沛", "中科院研究生院", "luoxp@eyou.com",
    "马应章", "北京华北计算所", "mayzem@sina.com/myz@bj613.com",
    "马玉书", "北京石油大学", "mayushu@mail.china.com",
    "瞿兆荣", "华东计算机所", "admieci@stn.sh.cn",
    "邵佩英", "中科院研究生院", "shaopy@gucas.ac.cn",
    "沈钧毅", "西安交通大学", "jyshen@xjtu.edu.cn",
    "施伯乐", "复旦大学计算机与信息技术系", "bshi@fudan.edu.cn",
    "孙志挥", "东南大学计算机系", "sunkity@jlonline.com",
    "唐世渭", "北京大学信息科学技术学院", "tsw@pku.edu.cn",
    "童頫", "上海大学计算机系", "ftong@bigfoot.com",
    "王洪水", "上海宝钢技术中心自动化所", "hswang@baosteel.com",
    "徐洁磐", "南京大学计算机系", "xujiepan@nju.edu.cn",
    "徐鲁溪", "国家信息中心", "",
    "薛永生", "厦门大学计算机科学系", "ysxue@jingxian.xmu.edu.cn",
    "张作民", "光大电脑公司", "",
    "郑振楣-何炎祥", "武汉大学计算机系", "yxhe@whu.edu.cn",
    "周龙骧", "中科院数学所", "lxzhou@math.ac.cn"]
