-
    var committeemembers = ["柏文阳","南京大学","wyb@nju.edu.cn",
    "蔡　毅","华南理工大学副教授","ycai@scut.edu.cn",
    "曹　朝","北京理工大学计算机学院","caozhao@bit.edu.cn",
    "陈　健","华南理工大学","ellachen@scut.edu.cn",
    "陈　雷","香港科技大学计算机科学与工程系","leichen@ust.hk",
    "陈　群","西北工业大学","chenbenben@nwpu.edu.cn",
    "陈恩红","中国科学技术大学教授","cheneh@ustc.edu.cn",
    "陈世敏","中国科学院计算技术研究所研究员","chensm@ict.ac.cn",
    "陈晓云","兰州大学教授","chenxy@lzu.edu.cn",
    "陈跃国","中国人民大学信息学院","chenyueguo@ruc.edu.cn",
    "程思瑶","哈尔滨工业大学","csy@hit.edu.cn",
    "崔立真","山东大学计算机学院助理院长","clz@sdu.edu.cn",
    "党德鹏","北京师范大学","ddepeng@bnu.edu.cn",
    "丁治明","中科院软件研究所","zhiming@iscas.ac.cn",
    "段　磊","四川大学教师","leiduan@scu.edu.cn",
    "冯　铃","清华大学教授","fengling@tsinghua.edu.cn",
    "冯建华","清华大学副教授","fengjh@tsinghua.edu.cn",
    "冯剑琳","中山大学数据科学与计算机学院","fengjlin@mail.sysu.edu.cn",
    "高晓沨","上海交通大学计算机科学与工程系","gaoxiaofeng@sjtu.edu.cn",
    "高云君","浙江大学计算机学院","gaoyj@zju.edu.cn",
    "谷　峪","东北大学","guyu@mail.neu.edu.cn",
    "顾　宁","复旦大学","ninggu@fudan.edu.cn",
    "关佶红","同济大学教授","jhguan@mail.tongji.edu.cn",
    "郭景峰","燕山大学教授","jfguo@ysu.edu.cn",
    "何　军","中国人民大学信息学院计算机系","hejun@ruc.edu.cn",
    "何震瀛","复旦大学计算机科学技术学院","zhenying@fudan.edu.cn",
    "胡海波","香港理工大学电子及资讯工程学系","haibo.hu@polyu.edu.hk",
    "胡乃静","上海金融学院信息管理学院","Njhu71@hotmail.com",
    "黄冬梅","上海海洋大学信息学院","dmhuang@shou.edu.cn",
    "黄浩","武汉大学计算机学院","haohuang@whu.edu.cn",
    "黄健斌","西安电子科技大学软件学院","jbhuang@xidian.edu.cn",
    "黄锦辉","香港中文大学副教授","kfwong@se.cuhk.edu.hk",
    "嵇　晓","上海宝信软件公司高级技术总监","jixiao@baosight.com",
    "贾　焰","国防科学技术大学教授","jiayanjy@vip.sina.com",
    "蒋川群","上海第二工业大学教授/院长","cqjiang@online.sh.cn",
    "金澈清","华东师范大学教授","cqjin@sei.ecnu.edu.cn",
    "金澈清","华东师范大学软件学院","cqjin@sei.ecnu.edu.cn",
    "金培权","中国科技大学","jpq@ustc.edu.cn",
    "景　宁","国防科学技术大学教授","ningjing@nudt.edu.cn",
    "乐嘉锦","东华大学教授","lejiajin@dhu.edu.cn",
    "李　川","四川大学计算机学院","lcharles@scu.edu.cn",
    "李　磊","北京工业大数据创新中心","lilei@k2data.com.cn",
    "李爱萍","太原理工大学计算机科学与技术学院计算机工程系主任","tyutli@163.com",
    "李翠平","中国人民大学教授","cuiping_li@263.net",
    "李红燕","北京大学副教授","lihy@cis.pku.edu.cn",
    "李建","清华大学交叉信息研究院","lapordge@gmail.com",
    "李建中","哈尔滨工业大学教授","lijz@hit.edu.cn",
    "李金宝","黑龙江大学软件学院常务副院长","jbli@hlju.edu.cn",
    "李庆忠","山东大学教授","lqz@sdu.edu.cn",
    "李荣华","深圳大学计算机与软件学院","rhli@szu.edu.cn",
    "李盛恩","山东建筑大学计算机学院","lsn@sdjzu.edu.cn",
    "李石君","武汉大学教授/博导","shjli@whu.edu.cn",
    "李陶深","广西大学院长","tshli@gxu.edu.cn",
    "李舟军","北京航空航天大学教授","lizj@buaa.edu.cn",
    "廖国琼","江西财经大学副教授","liaoguoqiong@163.com",
    "林子雨","厦门大学计算机科学系","ziyulin@xmu.edu.cn",
    "刘国华","燕山大学信息学院副院长","ghliu@ysu.edu.cn",
    "刘红岩","清华大学经管学院","liuhy@sem.tsinghua.edu.cn",
    "刘梦赤","武汉大学软件工程国家重点实验室","mengchi@whu.edu.cn",
    "刘奇志","南京大学副教授","lqz@nju.edu.cn",
    "刘玉葆","中山大学","liuyubao@mail.sysu.edu.cn",
    "卢云川","南京中新赛克科技有限责任公司","lu.yunchuan@sinovatio.com",
    "陆慧娟","中国计量大学","hjlu@cjlu.edu.cn",
    "骆祥峰","上海大学计算机工程与科学学院","xiangfeng.luo@gmail.com",
    "马宗民","东北大学教授","mazongmin@ise.neu.edu.cn",
    "孟凡荣","中国矿业大学","mengfr@cumt.edu.cn",
    "孟小峰","中国人民大学教授","xfmeng@ruc.edu.cn",
    "牛保宁","太原理工大学计算机与软件学院","niubaoning@tyut.edu.cn",
    "潘海为","哈尔滨工程大学","Panhaiwei@hrbeu.edu.cn",
    "彭朝晖","山东大学","pzh@sdu.edu.cn",
    "彭成宝","东软集团股份有限公司","pengcb@neusoft.com",
    "彭煜玮","武汉大学","ywpeng@whu.edu.cn",
    "钱铁云","武汉大学计算机学院","qty@whu.edu.cn",
    "乔少杰","西南交通大学信息科学与技术学院","sjqiao@swjtu.edu.cn",
    "秦小麟","南京航空航天大学信息安全研究所所长","qinxl@nuaa.edu.cn",
    "任家东","燕山大学","jdren@ysu.edu.cn",
    "任永杰","北京人大金仓信息技术股份有限公司","yjren@kingbase.com.cn",
    "商　烁","中国石油大学教授","jedi.shang@gmail.com",
    "宋宝燕","辽宁大学信息学院副院长","bysong@lnu.edu.cn",
    "孙焕良","沈阳建筑大学","sunhl@sjzu.edu.cn",
    "孙建伶","浙江大学计算机学院","sunjl@zju.edu.cn",
    "孙未未","复旦大学计算机科学技术学院","wwsun@fudan.edu.cn",
    "汤　庸","中山大学教授","issty@mail.sysu.edu.cn",
    "童咏昕","北京航空航天大学","yxtong@buaa.edu.cn",
    "万常选","江西财经大学教授","wanchangxuan@263.net",
    "汪　卫","复旦大学教授","weiwang1@fudan.edu.cn",
    "王　晨","清华大学、北京工业大数据创新中心","wang_chen@tsinghua.edu.cn",
    "王　宁","北京交通大学计算机学院","nwang@bjtu.edu.cn",
    "王　鑫","天津大学副教授","wangx@tju.edu.cn",
    "王朝坤","清华大学软件学院","chaokun@tsinghua.edu.cn",
    "王建民","清华大学","jimwang@tsinghua.edu.cn",
    "王建勇","清华大学","jianyong@tsinghua.edu.cn",
    "王丽珍","云南大学信息学院","Lzhwang2005@126.com",
    "王腾蛟","北京大学","tjwang@pku.edu.cn",
    "王晓玲","华东师范大学软件学院","xlwang@sei.ecnu.edu.cn",
    "王晓阳","复旦大学计算机学院","x.sean.wang@gmail.com",
    "王意洁","国防科技大学教授","wwyyjj1971@vip.sina.com.cn",
    "文继荣","中国人民大学","jrwen@ruc.edu.cn",
    "吴胜利","江苏大学计算机学院","1000004032@ujs.edu.cn",
    "伍　赛","浙江大学","wusai@zju.edu.cn",
    "肖迎元","天津理工大学计算机学院","yyxiao@tjut.edu.cn",
    "邢春晓","清华大学主任","xingcx@tsinghua.edu.cn",
    "徐建良","香港浸会大学计算机系","xujl@comp.hkbu.edu.hk",
    "徐俊刚","中国科学院大学","xujg@ucas.ac.cn",
    "徐立臻","东南大学教授","lzxu@seu.edu.cn",
    "许　嘉","广西大学","xujia@gxu.edu.cn",
    "阳国贵","国防科技大学教授","ggyang@nudt.edu.cn",
    "杨树强","国防科学技术大学计算机学院","sqyang@126.com",
    "杨晓春","东北大学副教授","yangxc@mail.neu.edu.cn",
    "姚　斌","上海交通大学","yaobin@cs.sjtu.edu.cn",
    "印　鉴","中山大学教授","issjyin@mail.sysu.edu.cn",
    "于　戈","东北大学教授","yuge@mail.neu.edu.cn",
    "于　旭","香港中文大学系统工程系","yu@se.cuhk.edu.hk",
    "余志文","华南理工大学","zhwyu@scut.edu.cn",
    "禹晓辉","山东大学教授","xyu@sdu.edu.cn",
    "元昌安","广西师范学院书记","yca@gxtc.edu.cn",
    "袁　方","河北大学","yuanfang@hbu.cn",
    "袁晓洁","南开大学教授","Yuanxj@nankai.edu.cn",
    "岳　昆","云南大学信息学院","kyue@ynu.edu.cn",
    "岳丽华","中国科技大学教授","llyue@ustc.edu.cn",
    "张　俊","大连海事大学信息科学技术学院","zhangjun@dlmu.edu.cn",
    "张　霞","东大阿尔派","zhangx@neusoft.com",
    "张　岩","北京大学信息科学技术学院","zhy@cis.pku.edu.cn",
    "张东祥","电子科技大学","zhangdo@uestc.edu.cn",
    "周皓峰","IBM中国软件开发中心","zhouhf@cn.ibm.com",
    "周水庚","复旦大学教授","sgzhou@fudan.edu.cn",
    "邹　磊","北京大学计算机科学技术研究所","zoulei@pku.edu.cn",
    "邹兆年","哈尔滨工业大学计算机学院","znzou@hit.edu.cn"]
