-
    var seniormembers = [
    "何新贵","北京大学教授","hexingui@pku.edu.cn",
    "刘连芳","广西计算中心","lianfangl@yeah.net",
    "唐常杰","四川大学教授","cjtang@scu.edu.cn",
    "王　珊","中国人民大学","swang@ruc.edu.cn",
    "杨冬青","北京大学教授","dqyang@pku.edu.cn",
    "周立柱","清华大学教授","dcszlz@tsinghua.edu.cn"
    ]
