extend ../../layout

block content
    .level1-wrap
        .level1-right-content
            p
                b 联系方式
            .divider
            p 联系人：崔斌
            p 地址：北京大学信息学院
            p 电话：010-62765825
            p 电子信箱：bin.cui@pku.edu.cn


            br
            br


            p
                b 申请加入
            .divider
            p
                a(href='/TC01-CCF专业委员会委员申请表.doc') 数据库专委会申请表下载

            br
            br


            p
                b 关注我们
            .divider
            p
                img(height='120px',width="120",src="assets/images/focuswechat.png")