extend ../../layout

block content
    .level1-wrap
        .level1-left-panel
            h3 相关资源
            ul
                li
                    a(href='/opensource') 开源软件
                li
                    a(href='/documents') 相关文档材料
        .level1-right-content
            h3 开源软件
            .divider
