doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='../assets/styles/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../assets/styles/admin.css')
        script(src="/assets/libs/jquery.min.js")
        script(src="/assets/libs/bootstrap.min.js")
    body
        .container.box
            center.alert.alert-warning 登录成功
