doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='../assets/styles/bootstrap.min.css')
        script(src="/assets/libs/jquery.min.js")
        script(src="/assets/libs/bootstrap.min.js")

        link(rel='stylesheet', type='text/css', href='../assets/styles/admin.css')

    body
        //- p #{hint}
        .container
            .pull-right
                p 管理员： #{currentAdmin}
                a(href='/admin/logout') 登出
                a(href='/admin/modifypassword') 修改密码
                a(href='/admin') 主页
                - if (currentAdmin == 'tcdbroot')
                    a(href='/admin/signup') 添加管理员
                a(href='/') 网站主站
            form.form-horizontal(method="post", action="/admin/modifyPassword")
                center
                    h2 修改密码
                .form-group
                    .col-sm-4
                        label.pull-right 新密码
                    .col-sm-4
                        input.form-control(type="password", name="password1", id='password1')
                .form-group
                    .col-sm-4
                        label.pull-right 再次输入新密码
                    .col-sm-4
                        input.form-control(type="password", name="password2", id='password2', onkeyup="validatePassword(); return false;")
                        span(id='confirmMessage' class='confirm-message')
                .form-group
                    .col-sm-4
                        label.pull-right 提示信息
                    .col-sm-4
                        p(style='color: red') #{hint}
                center.form-group
                    button.btn.btn-primary(type="submit", id='submitBtn') 修改
            script.
                function validatePassword() {
                    var password1 = document.getElementById('password1');
                    var password2 = document.getElementById('password2');

                    var goodColor = "#66cc66";
                    var badColor = "#ff6666";

                    var message = document.getElementById('confirmMessage');

                    if (password1.value == password2.value) {
                        password2.style.backgroundColor = goodColor;
                        message.style.color = goodColor;
                        message.innerHTML = '密码一致';

                    } else {
                        password2.style.backgroundColor = badColor;
                        message.style.color = badColor;
                        message.innerHTML = '密码不一致';
                    }
                }