doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='../assets/styles/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='../assets/styles/admin.css')
        script(src="/assets/libs/jquery.min.js")
        script(src="/assets/libs/bootstrap.min.js")

    body
        .container
            .pull-right
                p 管理员： #{currentAdmin}
                a(href='/admin/logout') 登出
                a(href='/admin/modifypassword') 修改密码
                a(href='/admin') 主页
                - if (userRole == 42)
                    a(href='/admin/signup') 添加管理员
                a(href='/') 网站主站
            .file-upload(style='margin:20px auto;width:300px;height:190px;border:1px solid #ccc;border-radius: 4px;padding:10px')
                form(method='post' action='upload' enctype='multipart/form-data')
                    label.control-label 上传zip包
                    input(type='file' name='fileUploaded' style='margin-bottom: 20px; margin-top: 20px')
                    p(style='color: red') #{hint}
                    button(type='submit' class='btn btn-primary') 提交
            .file-upload(style='margin:20px auto;width:500px;height:400px;border:1px solid #ccc;border-radius: 4px;padding:10px')
                h3 上传文件说明
                ul
                    li 上传文件名称格式为username.zip，其中username为当前账户名
                    li HTML文件编码格式应为UTF-8
                    li 注意压缩包内文件格式要求如下
                        br
                        pre
                                | username.zip/
                                br
                                | &nbsp&nbsp&nbspindex.html
                                br
                                | &nbsp&nbsp&nbspa.html
                                br
                                | &nbsp&nbsp&nbspb.html
                        p 而不应该是
                        pre
                                | username.zip/
                                br
                                | &nbsp&nbsp&nbspusername/
                                br
                                | &nbsp&nbsp&nbsp&nbsp&nbsp&nbspindex.html
                                br
                                | &nbsp&nbsp&nbsp&nbsp&nbsp&nbspa.html
                                br
                                | &nbsp&nbsp&nbsp&nbsp&nbsp&nbspb.html
