meta(http-equiv='content-type', name='renderer', content='text/html;charset=utf-8;webkit')
link(rel='stylesheet', type='text/css', href='/assets/styles/style.css')

// libraries
script(src='/assets/libs/jquery.min.js')
script(src='/assets/libs/bootstrap.min.js')
script(src='/assets/libs/jquery.goup.min.js')
// self-write JavaScripts
script(src='/assets/js/website.js')
script(src='/assets/js/toTop.js')