.header
    .container.my-nav
        ul.navigation#navigation
            li
                a(href='/') 首&nbsp;&nbsp;页
            li
                a(href='/commintro') 专业委员会
                .child-nav
                    dl
                        dd
                            a(href='/commintro') 专委会介绍
                        dd
                            a(href='/commintro#leaders') 专委会领导
                        dd
                            a(href='/commintro#standingcommittee') 常务委员
                        dd
                            a(href='/commintro#seniorcommittee') 资深委员
                        dd
                            a(href='/commintro#honorcommittee') 荣誉委员
                        dd
                            a(href='/commintro#committee') 委员
                        dd
                            a(href='/commintro#communicatecommittee') 通讯委员
            li
                a(href='/newsdynamics') 新闻动态
            li
                a(href='/commdynamics') 委员动态
            li
                a(href='/confinfo') 会议信息
            li
                a(href='/special') 特别栏目
                .child-nav
                    dl
                        dd
                            a(href='/dseintro') DSE期刊
                        dd
                            a(href='/vldbsummerschool') VLDB暑期学校
            li
                a(href='/resources') 相关资源
                .child-nav
                    dl
                        dd
                            a(href='/opensource') 开源软件
                        dd
                            a(href='/documents') 相关材料文档
            li
                a(href='/contact') 联系方式
