extend ../../layout

block content
    .level1-wrap
        .level1-left-panel
            h3 DSE期刊
            ul
                li
                    a(href='/dseintro') DSE简介
                li
                    a(href='/dseeditors') DSE编委会
                li.active
                    a(href='/dsecallforpaper') DSE Call for Papers
                li
                    a(href='/dsepaperlist') DSE论文
        .level1-right-content
            h3 Call for Papers
            .divider
            p Call for 2016 papers