extend ../../layout

block content
    .level1-wrap
        .level1-left-panel
            h3 DSE期刊
            ul
                li
                    a(href='/dseintro') DSE简介
                li.active
                    a(href='/dseeditors') DSE编委会
                li
                    a(href='/dsepaperlist') DSE论文
        .level1-right-content
            h3 Editor-in-Chief:
            .divider
            P Jianzhong Li, Harbin Institute of Technology, China
            p Elisa Bertino, Purdue University, USA
            h3 Advisory Board
            .divider
            p Michael J. Carey, University of California, Irvine, USA
            p Masaru Kitsuregawa, University of Tokyo, Japan
            p Rao Kotagiri, University of Melbourne, Australia
            p Beng-Chin Ooi, National University of Singapore, Singapore
            p Gerhard Weikum, Max Planck Institute for Informatics, Germany
            p Kyu-Young Whang, Korea Advanced Institute of Science and Technology, Korea
            p Lizhu Zhou, Tsinghua University, China
            h3 Editorial Board:
            .divider
            p Sudipto Das, Microsoft Research, USA
            p Elena Ferrari, University of Insubria, Italy
            p Panos Kalnis, King Abdullah University of Science and Technology, Saudi Arabia
            p Murat Kantarcioglu, University of Texas at Dallas, USA
            p Qing Li, City University of Hong Kong, Hong Kong
            p Mohamad Mokbel, University of Minnesota, USA
            p Bongki Moon, Seoul National University, Korea
            p Themis Palpanas, Paris Descartes University, France
            p Timos Sellis, RMIT University, Australia
            p X. Sean Wang, Fudan University, China
            p Takashi Washio, Osaka University, Japan
            p Jeffrey Yu Xu, Chinese University of Hong Kong, Hong Kong
            p Mohammad Zaki, Rensselaer Polytechnic Institute, USA
            p Aoying Zhou, East China Normal University, China
            p Zhi-Hua Zhou, Nanjing University, China

            h3 Managing Editor/Editorial Office Contact:
            .divider
            p Lizhu Zhou, dcszlz@mail.tsinghua.edu.cn

            h3 Associate Managing Editors
            .divider
            p Bin Cui, Peking University, China
            p Feifei Li, University of Utah, USA
