extend ../../layout

block content
    .level1-wrap
        .level1-left-panel
            h3 DSE期刊
            ul
                li.active
                    a(href='/dseintro') DSE简介
                li
                    a(href='/dseeditors') DSE编委会
                li
                    a(href='/dsepaperlist') DSE论文
        .level1-right-content
            h3 About DSE
            .divider
            p Data Science and Engineering (DSE) is an international, peer-reviewed, and open access journal published under the brand SpringerOpen. DSE is published on behalf of the China Computer Federation (CCF). Focusing on the theoretical background and advanced engineering approaches,DSE aims to offer a prime forum for researchers, professionals, and industrial practitioners to share their knowledge in this rapidly growing area. It provides in-depth coverage of the latest advances in the closely related fields of data science and data engineering.
            p More specifically, DSE covers four areas: (i) the data itself, i.e., the nature and quality of the data, especially big data; (ii) the principles of information extraction from data, especially big data; (iii) the theory behind data-intensive computing; and (iv) the techniques and systems used to analyze and manage big data.
            p DSE publishes high-quality, original research papers, brief reports, and critical reviews in all theoretical, technological, and interdisciplinary studies that make up the fields of data science and engineering and its applications.
            p This is an open access journal, which is freely accessible online to anyone, anywhere. THE OPEN ACCESS FEES (article-processing charges) ARE FULLY SPONSORED. AUTHORS CAN PUBLISH IN THE JOURNAL WITHOUT ANY ADDITIONAL CHARGES.