extend ../../layout

block content
    .level1-wrap
        .level1-left-panel
            h3 VLDB暑期学校
            ul
                li.active
                    a(href='/vldbsummerschool2016') 2016
                li
                    a(href='/vldbsummerschool2014') 2014

        .level1-right-content
            br
            .divider
            .title-list-box
                ul
                    li
                        span 2016-06-12
                        a(href='http://jsj.nwpu.edu.cn/info/1206/4790.htm') 西北工业大学计算机学院2016年VLDB暑期学校报名通知
